.container
  //- , ng-show='post.isAdmin()'
  md-content(layout-padding)
    md-input-container.md-block
      label 标题
      input(ng-model='post.newThing', required)
    md-input-container.md-block
      label 内容
      textarea(ng-model='post.infoThing', required, md-maxlength='150', rows='5', name='content', md-select-on-focus='')
    
    md-button(ng-click='post.addThing()') 新增
    md-slider-container
      span sliderNo
      md-slider#red-slider(flex='', min='0', max='255', ng-model='post.sliderNo', aria-label='red')
      md-input-container
        input(flex='', type='number', ng-model='post.sliderNo', aria-label='red', aria-controls='red-slider')
