.container
  .row
    .col-lg-12
      md-content.md-padding(layout-xs='column', layout='row')
        div(flex-xs='', flex-gt-xs='', layout='column')
          md-card(md-theme="default", md-theme-watch='', ng-repeat='thing in $ctrl.awesomeThings', ng-class='{ editing: thing == $ctrl.editedThing }')
            md-card-title
              md-card-title-text
                form(ng-submit='$ctrl.saveThing(thing)')
                  input.form-control.edit(type='text', ng-model='thing.name', ng-blur='$ctrl.saveEdit(thing)', todo-focus="thing == $ctrl.editedThing")
                span.md-headline(ng-dblclick='$ctrl.editThings(thing)') {{thing.name}}
                  md-tooltip(md-direction='top') {{thing.info}}
                span.md-subhead {{thing.info}}
                md-input-container.md-block.title-edit
                  label Biography
                  textarea(ng-model='thing.info', md-maxlength='150', rows='3', md-select-on-focus='')
              md-card-title-media
                .md-media-sm.card-media
                  img(src='https://avatars0.githubusercontent.com/u/6404894?v=3&s=120')
            md-card-actions(layout='row', layout-align='end center')
              md-button(ng-click='$ctrl.loveIt(thing)') 点赞
              md-button(ui-sref='detail({ id: thing._id })') 详情
              md-button(ng-show='$ctrl.isAdmin()', ng-click='$ctrl.deleteThing(thing)') 删除

  
